# 旧版 Vue CLI 4 / webpack 4 工具链依赖 npm/yarn 的扁平 node_modules（隐式 require 传递依赖），
# pnpm 需开启 hoisting 才能兼容
shamefully-hoist=true

# Electron 二进制国内镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
